.form__btn_save{
    width: 80%;
    margin: 0 auto;
    background-color: #000000; 
    height: 50px;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    border-radius: 2px;
}

.form__btn_save:hover{
    opacity: 0.8;
    cursor: pointer;
}