.form__btn-close{
    background-image: url(../../../images/Close\ Icon.svg);
    width: 40.7px;
    height: 40.7px;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    grid-column: 2/3;
    cursor: pointer;
}

.form__btn-close:hover{
    opacity: 0.6;
}

@media (max-width: 540px){
    .form__btn-close{
        width: 26px;
        height: 26px;
        background-size: contain;
        margin-bottom: 14px;
    }
}