<<<<<<< HEAD:blocks/Element/Element.css
.element{
    background-color: #fff;
    width: 282px;
    border-radius: 10px;
    position: relative;
=======
.element{
    background-color: #fff;
    width: 282px;
    border-radius: 10px;
>>>>>>> d6e8b192e2c775207739c66d555ca205b4ba14aa:blocks/element/element.css
}