.profile__btnEdit{
    width: 24px;
    height: 24px;
    border: 1px solid #fff;
    margin-left: 17px;
    background-color: #000;
    background-image: url(../../../images/Vector.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.profile__btnEdit:hover{
    opacity: 0.6;
}